
@databank-ractive-switch-background: #818181;
@databank-ractive-switch-border-radius: 10px;
@databank-ractive-switch-on-background: #dccfe2;

@databank-ractive-switch-handle-background: #f1f1f1;
@databank-ractive-switch-handle-on-background: #aa66cc;
